.Timeline {
   calendarLabelWidth: 150;
   calendarRowHeight: 200;
}

.CalendarEvent {
   headerHeight: 16;
   cornerRadius: 8;
   borderThickness: 2;
}

.DayChrome {
	backgroundColor: #AAAAAA;
}

.ThisMonth {
	backgroundColor: #AAAAAA;
}

.NotThisMonth {
	backgroundColor: #EEEEEE;
}
